@import url('https://fonts.googleapis.com/css2?family=Changa+One&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Momo+Trust+Display&display=swap');


header{
    background-color: rgb(118, 183, 218);
    background-image: url(../images/sealandscape.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    outline-style: solid;
    outline-width: 15px;
    outline-color: #0367da;
    
}
 h1{
 font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
    font-size: 400%;
 }
 h2{
    font-family: "Changa One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(6, 70, 131);
 }



body{
        font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
    background-image: url(../images/oceansurfacebackground.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-color: #0a5375;
    color: aliceblue;
    font-size: larger;
}    


footer{
    background-color: #0367da;

}

#mainsection{
  background-color: rgba(44, 126, 203, 0.735);
  
  border-radius: 40px;
}
#mainsection2{
   background-color: rgba(44, 126, 203, 0.735);
  
  border-radius: 40px;
}

#storyOutput{
  font-size: larger;
}

#sectionborder{
    background-image: url(../images/waverepeat.png);
  background-repeat: repeat-x;
  background-position: bottom; 
  background-size: contain;
}